.Enigme{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.potion{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.Potion-image{
    width:5em;
    height:5em;
}

.Enigme h2{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 2em 2em;
}

.Enigme-svg{
    width:20em;
    heigth:10em;
}

.Enonce{

}

.Potion-button:hover{
    border-radius: 30px;

    box-shadow:  -21px -21px 32px rgba(29, 32, 38, 0),
    21px 21px 32px #333842;
}

.Clicker{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Clicker h1{
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 2em 2em;
}

.Clicker img{
    height: 10em;
}

.Solution{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
margin-top: 1em;
font-family: Koulen;
font-weight: 22;
font-size: 14px;
color: #09c950;
background-color: #00cc7a00;
padding: 10px 30px;
border: solid #2bff00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #1dc74d00;
color: #08ab28;
border: solid 2px #00cc22;
}